html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  overflow-x: clip;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsla(216, 15%, 52%, 0.7);
  border: 2px solid transparent !important;
  background-clip: padding-box !important;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid transparent !important;
  background: hsla(216, 15%, 52%, 1);
}

.anchor {
  position: absolute;
  transform: translateY(-10vh);
}
